
.shopify-section.fancy-horizontal-tabs .heading-wrappers .title{margin:0;margin-top: 2rem;    color: var(--gradient-base-accent-1); }
  .shopify-section.fancy-horizontal-tabs .tab-content{margin-top:70px;}
.shopify-section.fancy-horizontal-tabs .nav-pills.text-center{justify-content: center;}
.shopify-section.fancy-horizontal-tabs .nav-pills .nav-item {margin-bottom:2rem}

/* .faq-template-3 .dt-sc-section-wrapper { display: flex;  margin: 0 var(--page-full-width-spacing); padding: 0 0.5rem; column-gap: 85px; margin-top: 7rem; } */

.faq-template-3 .dt-sc-section-wrapper .page-full-width.page-full-width_spacing .row {   margin: 0; padding: 0; }
.faq-template-3 .dt-sc-section-wrapper .page-full-width {     flex-basis: 70%; }

.faq-template-3 .dt-sc-faqs {
    width: 60%;
}
.faq-template-3 form {
    border: 1px solid rgb(var(--color-base-accent-1),0.1);max-height:1000px;
    padding: 20px 30px;
    width: 40%;box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: var(--buttons-radius);
}
.faq-template-3 .dt-sc-section-wrapper form img { max-width: 100%; object-fit: contain; height: auto; width: auto; 
    padding-left: 0;
    margin: auto;
    display: block; }

.faq-template-3 .dt-sc-section-wrapper form h3 { color: var(--gradient-base-accent-2); }

.faq-template-3 .dt-sc-section-wrapper form .field__input {
   border: 1px solid rgb(var(--color-base-accent-3),0.4);
    padding: 0;
    margin-bottom: 15px;
    border-radius: var(--buttons-radius);
    padding: 1.5rem;
}
.faq-template-3 .dt-sc-section-wrapper form .field__input:focus {
}
.shopify-section.fancy-horizontal-tabs #myTabContent .card {
    border: 1px solid rgb(var(--color-base-accent-1),0.1);
    border-radius: var(--buttons-radius);
    padding: 1.5rem;
}

/* .faq-template-3 .dt-sc-section-wrapper .contact__button { display: none; } */


  /*Tab*/
  .item.heading.tab-pane {
    height: 0;
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  .item.heading.tab-pane.active {
    height: auto;
    visibility: visible;
    opacity: 1;
    display: block;}
  .btn-block { display: block; width: 100%; }

  .text-left   { text-align: left;  justify-content: flex-start; }
  .text-right  { text-align: right; justify-content: flex-end; }
  .text-center { text-align: center; justify-content: flex-center; }



  .shopify-section.fancy-horizontal-tabs button[aria-expanded="true"] span p,  
  .shopify-section.fancy-horizontal-tabs .card-header button:hover span p, 
  .shopify-section.fancy-horizontal-tabs .card-header button[aria-expanded="true"] span p, 
  .shopify-section.fancy-horizontal-tabs .card-header .btn:not([disabled]):hover span p{ color: {{ section.settings.primary }} !important; }
  .shopify-section.fancy-horizontal-tabs .btn.focus, 
  .shopify-section.fancy-horizontal-tabs .btn:focus { box-shadow: none; }

  .shopify-section.fancy-horizontal-tabs .card .answer{ display:none; }
  
  /*Custom Styles*/

  .shopify-section.fancy-horizontal-tabs .shadow-sm { 
    box-shadow: 0px 14px 15px 0px rgba(0, 0, 0, 0.05) !important; 
  }
  .shopify-section.fancy-horizontal-tabs h4:empty { 
    display: none; 
  } 
  .shopify-section.fancy-horizontal-tabs #myTabContent { 
    width: 100%;padding:40px 0 0 0px; background: transparent;  
      }
  
/*   .shopify-section.fancy-horizontal-tabs .card:last-child { 
    margin-bottom: 0 !important; 
  } */
  .shopify-section.fancy-horizontal-tabs .card-body { 
    padding: 0;   margin-top: 20px; font-size:15px;opacity:0.85 }

  .shopify-section.fancy-horizontal-tabs .card { 
    border: none; 
    overflow: hidden; 
  }

  .shopify-section.fancy-horizontal-tabs .tab-pane > .card.last { margin-bottom: 50px !important; }

  .shopify-section.fancy-horizontal-tabs .card-header { 
    padding: 0; 
    margin-bottom: 0rem; 
    background: none; 
  }
  .shopify-section.fancy-horizontal-tabs .card-header button { 
    margin: 0; 
    padding: 0;     cursor: pointer;
  }
  .shopify-section.fancy-horizontal-tabs .card-header button > span {
    width: 100%; 
    padding:20px;
    float: left; 
    letter-spacing: 0;
    position: relative; text-transform: initial;    
  }
  .shopify-section.fancy-horizontal-tabs #myTabContent .card {margin-bottom:3rem;background: var(--gradient-background); }
  .shopify-section.fancy-horizontal-tabs .card-header button span p { margin-bottom: 0; }

@media screen and (max-width: 1200px) {

  .faq-template-3 .dt-sc-section-wrapper form h3 { font-size: 2rem; }
  .faq-template-3 .dt-sc-section-wrapper .page-full-width { flex-basis: 65%; }
/*   .faq-template-3 .dt-sc-section-wrapper form {  width: 35%; flex-basis: 35%; } */
  .faq-template-3 .dt-sc-section-wrapper { column-gap: 60px; }
}

/* @media screen and (max-width: 780px) {
.faq-template-3 .dt-sc-section-wrapper { flex-direction: column;}
   .faq-template-3 .dt-sc-section-wrapper .page-full-width { flex-basis: 100%; }
  .faq-template-3 .dt-sc-section-wrapper form {  width: 80%; flex-basis: 80%; margin: auto; }
 .shopify-section.fancy-horizontal-tabs #myTabContent .card { padding: 25px; }
} */


@media screen and (max-width: 576px) {
/* .faq-template-3 .dt-sc-section-wrapper form {  width: 100%; flex-basis: 100%; margin: auto; } */
.shopify-section.fancy-horizontal-tabs .tab-content {     margin-top: 50px; }
}
/* --------------------- */

.faq-template-3 .row {
    display: flex;
    gap: 50px;
}
.dt-sc-faqs .heading-wrappers.center .description{margin-left: auto;margin-right: auto;max-width:86%}
.dt-sc-faqs .heading-wrappers.left .description{margin-right: auto;}
.dt-sc-faqs .heading-wrappers .sub-heading{display: inline;}
.shopify-section.fancy-horizontal-tabs .tab-content .card-header button span.title-faq span.open_icon svg {
    transform: rotate(90deg);
    transition: .3s ease;
}
.faq-template-3 form .contact__button {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
}
.faq-template-3 form:hover .contact__button .button.button--primary{animation: text-expand .5s ease;}
.faq-template-3 form .contact__button .button.button--primary {
    width: 100%;
}
@media screen and (max-width: 1024px){
    .faq-template-3 .dt-sc-faqs {
        width: 60%;
    }
    .faq-template-3 form {
        width: 40%;
    }
  .faq-template-3 .row{gap:20px}
  .faq-template-3 form {padding:20px 15px}
}
@media screen and (max-width: 991px){
  .faq-template-3 form {max-height:none!important;}
  .faq-template-3 .dt-sc-faqs,
  .faq-template-3 form{width:100%}
.faq-template-3 .row{    flex-wrap: wrap;}
}
@media screen and (max-width: 780px)
{
  .faq-template-3 .row {
    flex-direction: column;
  }
  .faq-template-3 .dt-sc-faqs,
  .faq-template-3 form {
        width: 100%;
    }
}
.faq-template-3 .form-title{font-size: clamp(2rem, 1.92rem + 0.4vw, 2.4rem);color: var(--gradient-base-accent-1);}