 .newsletter-container .newsletter__wrapper{padding:3rem 0;}
  .newsletter-container .newsletter-modal:before {
   content:"";
    width: 100%;
    height: 100%;
    background: rgb(var(--color-background));
    opacity: 0.7;
}
/*   .newsletter-content button.newsletter__button.button{  right: 0; top: 15px; bottom: 0;height:5rem;} */
   .newsletter-container .newsletter-modal:before {
      content: "";
    display: block;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   }
.newsletter-modal{flex-direction: row-reverse;}
   .newsletter-container .newsletter__button{margin-top:0;margin-left: 0px;}
   .newsletter-modal.text-center .newsletter__wrapper{text-align:center;}
   .newsletter-modal.text-start .newsletter__wrapper{text-align:left;}
   .newsletter-modal.text-end .newsletter__wrapper{text-align:right;}
   .newsletter-modal.text-endt .list-social{justify-content: right;}
   .newsletter-modal.text-start .list-social{justify-content: left;}
   .newsletter-modal.text-center .list-social{justify-content: center;margin-top: 20px;}
   .newsletter-container .newsletter-modal .field__label{top: calc(1.3rem + var(--inputs-border-width));}
   .newsletter-container .newsletter-modal .field__input{    height: 5rem;}
   .newsletter-container .list-social{ display: flex; flex-wrap: wrap; margin-top: 0; justify-content: unset;gap: 0.6rem;}
    .newsletter-container {
      position: fixed;
    height: 100%;
    width: 100%;
    z-index: 16;
    top: 0;
    left: 0;
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    visibility: visible;
    margin: auto;
    height: 100%;
    width: 100%;
    transition: all linear .3s;
    }
    .newsletter-modal { padding: 20px; }
    .newsletter-modal .newsletter__wrapper > *:not(:last-child) { margin: 0 0 2rem; }
/*    .newsletter-content{margin:0 auto;} */
    .newsletter-modal{
     display:flex;
    padding: 20px 25px;
   width: 100%;
    max-width: 1000px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all linear .3s;
    z-index: 1;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    align-items: center;
    }
  
  span.newsletter-container-overlay{   
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.9);
  }
  
   a.close-window.icon-button.close-icon{position:absolute; cursor: pointer;right: 15px;top: 15px;}
/*    a.close-window.icon-button.close-icon svg{    width: 1.6rem;  height: 1.6rem;} */
  .newsletter-form__field-wrapper{display:flex; align-items:flex-start; gap: 2rem;}

@media screen and (max-width: 576px) {
/*     .newsletter-content button.newsletter__button.button{    
    position: absolute; 
    right: 0;
    top: 0px;
    bottom: 0;}    
  */
   .newsletter-form__field-wrapper{display:block;}
  .newsletter-content button.newsletter__button.button{ margin-top:20px }
}
/* custom css */
.newsletter-container .newsletter-modal:before{display:block;opacity:0.4;}
.newsletter-modal .newsletter-content{display: flex;flex-direction: column;justify-content: center;width: 100%;background: transparent;overflow: hidden;}
.newsletter-container .newsletter-modal   .newsletter__wrapper{width:480px;}
.newsletter-modal .newsletter__wrapper .title-wrapper-with-link{font-size: clamp(3rem, 2.8rem + 1vw, 4rem);
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 1px;
    align-items: center;
    text-transform: uppercase;}
.newsletter-container .newsletter-modal .newsletter__button{
    position: relative;
    right: 0;
    height: 100%;
    border-radius:var(--buttons-radius);
    }
.newsletter-container .newsletter-modal .field__input{margin: 0;height:calc(5rem + var(--buttons-border-width) * 2); color: var(--gradient-base-accent-1);}
.newsletter-container .newsletter-modal .newsletter__subheading.rte{max-width: 100%;margin: 0 auto 20px;font-weight: 500;font-size: 16px;}
.newsletter-container .newsletter-modal .newsletter__subheading.rte>p{font-size: 16px;line-height: 1.64;margin-bottom: 3rem;font-weight:400}
a.close-window.icon-button.close-icon{
    position: fixed;
    right: 0px;
    top: 0px;
    margin: 1rem;
    transition: var(--duration-default);
    display: flex;
    width: 3rem;
    height: 3rem;
    background: rgb(var(--color-base-solid-button-labels),1);
    color: var(--gradient-base-background-1);
    align-items: center;
    justify-content: center;
    line-height: normal;
    border-radius: var(--inputs-radius);
}
a.close-window.icon-button.close-icon svg{transition: var(--duration-default);width: 10px;height: 10px;}
a.close-window.icon-button.close-icon:hover{background: rgb(var(--color-base-outline-button-labels),1);}
a.close-window.icon-button.close-icon:hover svg{color: var(--gradient-base-background-1);}
/* .newsletter-container .newsletter-modal .newsletter__button.button:before{border-top-left-radius: 0;border-bottom-left-radius: 0;} */
/* @media screen and (max-width: 1600px) {
.newsletter-modal{height:500px;width:1100px;}
} */
.newsletter-modal .newsletter-content .newsletter-form__field-wrapper .field i.fa.fa-envelope {position: absolute;left: 20px;z-index: 1;top: 50%;transform: translate(0%, -50%);}
.newsletter-content li.list-social__item {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--duration-default) linear;
    margin: 1px;
}

.newsletter-content .list-social .list-social__link { margin-right: 0!important; padding: 0;}
.newsletter-content .list-social .list-social__link:hover {color: inherit;}
.newsletter-content form .newsletter-form__field-wrapper .field__input{padding:0 2rem 0 6rem;transition: var(--duration-default);
background: linear-gradient(90deg,var(--gradient-base-accent-2),var(--gradient-base-accent-2)) center bottom/0 1px no-repeat,linear-gradient(90deg,#e4e4e43b,#e4e4e43b) left bottom/100% 1px no-repeat,linear-gradient(90deg,#00000000,#00000000) left bottom/100% no-repeat;
border-width: 0 0 1px 0;
border-color: var(--gradient-base-accent-4);
}
.newsletter-content form .newsletter-form__field-wrapper .field__input:focus{
  background-size: 100% 1px,100% 1px,100%; border-color: transparent;
}
.newsletter-bg-img { width: 100%;max-width: 100%;animation:fadeInRight 1.2s ease both;}
.newsletter-container.show-modal form#contact_form :where(.field,button) {
    animation: fadeInLeft 0.8s ease both; width: 100%;
}
@media screen and (max-width: 1199px) {
  .newsletter-modal{height:48vh;width:90%;}
}
@media screen and (min-width: 991px) {
  .newsletter-modal.text-center .newsletter__wrapper{text-align:left;}
/*   .newsletter-modal .newsletter__wrapper .title-wrapper-with-link{align-items: flex-end;} */
.newsletter-container .newsletter-modal .newsletter-form__message { justify-content: center;font-weight: 500;letter-spacing: normal;margin: 0;}
}
@media screen and (max-width: 990px) {
.newsletter-container .newsletter-modal:before{display:block;opacity:0.3;}
.newsletter-modal .newsletter-content{align-items: flex-start;} 
.newsletter-modal {padding: 2rem;background-position: left;}  
.newsletter-container .newsletter-modal .newsletter__wrapper{width:100%}  
/* .newsletter-container .newsletter-modal .newsletter__subheading.rte{width: 87%;} 
a.close-window.icon-button.close-icon {right: 20px;top: 20px;}*/
}
@media screen and (min-width: 1200px) {
  .newsletter-modal .newsletter-content{width: 100%; padding: 0 7rem;}
  .newsletter-container .newsletter__wrapper{padding:0;}
  .newsletter-modal .newsletter__wrapper .title-wrapper-with-link{
    font-weight: 400;margin-top:1rem;
    text-transform: uppercase;font-size: clamp(3rem, 2.8rem + 1vw, 4rem);
    letter-spacing: 3px;margin-bottom: 2.4rem;}
  .newsletter-form__field-wrapper{flex-direction: column;    margin-bottom: 20px;}
/*   .newsletter-modal { background-position: right 0% bottom 0%; background-size: 50% 100%; background-repeat: no-repeat;} */
  .newsletter-container .newsletter-modal .newsletter__wrapper {  width: 100%;}
  .newsletter-container .newsletter-modal:before{opacity: 0;}
}
@media screen and (max-width: 1199px) {
  .newsletter-modal { padding: 2rem;row-gap: 2rem;flex-direction: column;width: 80%;justify-content: center;}
  .newsletter-modal .newsletter-content{align-items: center;} 
  .newsletter-container .newsletter-modal .newsletter__wrapper{text-align: center;}
  .newsletter-form__field-wrapper { display: flex; align-items: center;  gap: 2rem; flex-direction: column;}
  .newsletter-bg-img{display:none;}
  .newsletter-modal{padding: 20px;height: 100%;width: 90%;max-height: 600px;}
  .newsletter-container .newsletter-modal .newsletter__subheading.rte>p{max-width: 400px;margin-left: auto;margin-right: auto;}
}
@media screen and (max-width: 576px) {
.newsletter-container .newsletter-modal .newsletter__button{position: relative;border-radius:var(--buttons-radius);}
.newsletter-modal{padding: 20px;}
/* .newsletter-modal .newsletter__wrapper .title-wrapper-with-link {font-size: calc(60px * 0.6);} */
.newsletter-container .newsletter-modal .newsletter__subheading.rte{margin: 0 auto 20px;}  
.newsletter-container .newsletter-modal .newsletter__subheading.rte{width: 100%;}
}