.testimonial__heading {
  margin: 2rem 0 6rem;
  padding: 0;
}

.testimonial-container .testimonial-author a {
  padding-right: 30px;
}
.testimonial-image .img {
  overflow: hidden;
  display: block;
  inset: 0;
  transition: all 0.3s linear;
}
.testimonial-content blockquote {
  background: transparent;
  margin-top: 30px;
  transition: all 0.3s linear;
  border: none;
}
.testimonial-content
  .testimonial-container:hover
  .testimonial-content
  blockquote
  cite {
  margin-top: 3rem;
}
.testimonial-content blockquote cite span {
  padding: 0;
  margin: 0;
}
.testimonial-content blockquote cite span:before {
  display: none;
}

.slider-button--prev .icon {
  transform: rotate(90deg);
}
.testimonials-8 .swiper-button-next svg,
.testimonials-8 .swiper-button-prev svg {
  display: none;
}
blockquote {
  margin: 0;
  position: relative;
}
.testimonials-8 .swiper-controls {
  position: relative;
  width: 115px;
  bottom: 0;
  right: auto;
  left: auto;
  margin: auto;
}
.testimonials-8 .swiper-container.testimonialsSwiper {
  margin-bottom: 50px;
}
/*custom css file*/
.testimonials-style-8 .testimonials-8 .banner__media{position: absolute; left: 0;top: 0;z-index: 1;width: 100%;height: 100%;}
.testimonials-style-8 .testimonials-8 {
  overflow: hidden; position: relative;
}
.testimonials-style-8 .testimonials-8 .slick-list {
  overflow: visible;
}
.
  .testimonials-style-8
  .testimonials-8
  .testimonial-container.swiper-slide.swiper-slide-active {
  opacity: 1;
}

.testimonials-style-8 .testimonials-8 .testimonial-container blockquote {
  padding-left: 3rem;padding-right:3rem
}

.testimonials-style-8
  .testimonials-8
  .testimonial-container
  .testimonial-content
  .rte {
  line-height: 30px;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    font-family: var(--font-body-family);
    width:100%;
    max-width: 650px;
    margin: auto;
    text-align: center;
}
.testimonials-style-8
  .testimonials-8
  .testimonial-container
  .testimonial-content
  blockquote
  p.testimonial-author {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  font-style: normal;
  margin-bottom: 0;
}
.testimonials-style-8 .testimonials-8 .testimonial-container .testimonial-content span.designation{
  font-size: 16px; font-weight: 400; font-style: normal; text-transform: capitalize;
}
.testimonials-style-8
  .testimonials-8
  .testimonial-container.slick-slide.slick-cloned,
.testimonials-style-8 .testimonials-8 .testimonial-container.slick-slide {
  opacity: 0.5;
}
.testimonial-container.slick-slide.slick-current.slick-active {
  opacity: 1;
}
.testimonials-style-8
  .testimonials-8
  .testimonial-container
  .testimonial-content {
 
  margin: 0 auto;
}
.testimonials-style-8 .testimonials-8 .testimonial-slide-image .testimonial-container.slick-slide.slick-current.slick-active.slick-center cite{opacity: 1;}

.testimonials-style-8 .testimonials-8 .testimonial-content cite{display: flex;align-items: center;justify-content: center;flex-wrap: wrap;opacity: 1;transition: var(--duration-default);flex-direction: row;}
.testimonials-style-8 .testimonials-8 .testimonial-slide-image {
  position: relative; padding-bottom: 0px; cursor: grab; padding-top: 0px;
}

.testimonials-style-8 .testimonials-8 .slick-prev.slick-arrow,
.testimonials-style-8 .testimonials-8 .slick-next.slick-arrow {
  width: 30px;
  height: 30px;
  background: var(--gradient-base-accent-2);
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}
.testimonials-style-8 .testimonials-8 .slick-prev.slick-arrow{
margin-right: 10px;
position: absolute;
left: 20px;
z-index: 2;
top: 50%;
transform: translateY(-50%);
}
.testimonials-style-8 .testimonials-8 .slick-next.slick-arrow{
right: 20px;
position: absolute;
z-index: 2;
top: 50%;
transform: translateY(-50%);
}
.testimonials-style-8 .testimonials-8 button.slick-next.slick-arrow::after,
.testimonials-style-8 .testimonials-8 button.slick-prev.slick-arrow::after {
  font-family: swiper-icons;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
}
.testimonials-style-8 .testimonials-8 button.slick-next.slick-arrow::after {
  content: "next";
  transition: all 0.3s ease;
}
.testimonials-style-8 .testimonials-8 button.slick-prev.slick-arrow::after {
  content: "prev";
  transition: all 0.3s ease;
}
.testimonials-style-8 .testimonials-8 .slick-prev.slick-arrow:hover,
.testimonials-style-8 .testimonials-8 .slick-next.slick-arrow:hover {
  background: var(--gradient-base-accent-3);
}
.testimonials-style-8
  .testimonials-8
  button.slick-next.slick-arrow:hover::after,
.testimonials-style-8
  .testimonials-8
  button.slick-prev.slick-arrow:hover::after {
  color: var(--gradient-base-accent-2);
}
.testimonials-style-8 .testimonials-8 .slick-prev.slick-arrow {
  margin-right: 10px;
}
.testimonials-style-8 .testimonials-8 .testimonial-slide-image .slick-slider {
  padding-top: 70px;
}
.testimonials-style-8
  .testimonials-8
  .testimonial-slide-image
  .testimonial-thumb
  .title.h1 {
  padding-left: 50px;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 28px;
}
.testimonials-style-8 .testimonials-8 ul.slick-dots {
  display: inline-flex;
  left: 50%;
  bottom: -30px;
  transform: translate(-50%);
  list-style: none;
  padding: 0;
  position: relative;
}

.testimonials-style-8 .testimonials-8 ul.slick-dots li button {
  background: var(--gradient-base-accent-2);
  border: none;
  font-family: var(--font-body-family);
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  margin: 0 5px;
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  opacity: 0.3;
}
.testimonials-style-8 .testimonials-8 ul.slick-dots li.slick-active button {
  opacity: 1;
}
.testimonials-style-8 .swiper-wrapper{align-items:center}
.testimonials-style-8 .testimonials-8 .testimonial-container.slick-slide.slick-current.slick-active .testimonial-image .img{transform: scale(1.7);}
  .testimonials-style-8 .testimonials-8 .testimonial-content p.testimonial-author {font-size: 1.6rem;font-style: normal;font-family: var(--font-body-family);font-weight: 400;margin: 0;text-align: center;line-height: 1.2;}
.testimonials-style-8 .testimonials-8 .testimonial-content span.designation {color: var(--gradient-base-accent-1);font-style: normal;font-family: var(--font-body-family);font-weight: 400; margin: 0;}
.testimonials-style-8 .testimonials-8 .testimonial-content blockquote{background: transparent;}
.testimonials-style-8 .testimonials-8 .testimonial-container:hover .testimonial-content blockquote{background: transparent;}
.testimonials-style-8 .testimonials-8 .testimonial-container .testimonial-image .img{border-radius: 50%;margin: auto;cursor: pointer;border: 1px solid transparent;padding: 8px;transition: all var(--duration-default) linear;height:auto;width:120px;}
.testimonial-container.swiper-slide.swiper-slide-active .testimonial-image .img{border: 1px solid var(--gradient-base-accent-1);margin-top:3rem}
.testimonials-style-8 .page-width{overflow: hidden;cursor: grab;}
.testimonials-style-8 .testimonials-8 .testimonial-container .testimonial-content span.designation,
.testimonials-style-8 .testimonials-8 .testimonial-container .testimonial-content blockquote p.testimonial-author,
.testimonials-style-8 .testimonials-8 .title-wrapper-with-link h2.title.h1{color: var(--gradient-base-background-1);}
.testimonials-style-8 .testimonials-8 .title-wrapper-with-link h6.sub-heading{font-family: var(--font-body-family);margin: 0 auto 8px;font-size: 1.4rem;font-weight: 500;letter-spacing: 2.1px;line-height: 25px;}
.testimonials-style-8 .testimonials-8 .testimonial-container .dt-sc-rating{margin-bottom: 10px;}
.testimonials-style-8 .testimonials-8 .title-wrapper-with-link{margin: 0;padding-top: 25px;}
.testimonials-style-8 .testimonials-8 .testimonial-container p.testimonial-author:after {
    content: '-';
    padding: 0 8px;
}
.testimonials-style-8 .testimonials-8 .testimonial-container .testimonial-content .rte{ color: var(--gradient-base-background-1);margin-bottom:2rem}
.testimonials-style-8 .testimonials-8 .testimonial-container .testimonial-content{opacity: 0;}
.testimonials-style-8 .testimonials-8 .testimonial-container.swiper-slide.swiper-slide-active .testimonial-content{opacity: 1;}
/*custom respondive*/

@media screen and (min-width: 992px) {
  .testimonials-style-8 .testimonials-8 .testimonial-container.slick-slide {
    padding: 0 16px;
  }
  
}
@media screen and (max-width: 991px) {
  .testimonials-style-8 .testimonials-8 .testimonial-container.slick-slide {
    padding: 0 5px;
  }
  .testimonial-content blockquote{margin-top: 0;}
}
@media screen and (max-width: 991px) {
  .testimonials-style-8 .testimonials-8 .testimonial-slide-image .slick-slider {
    padding-top: 50px;
  }
  .testimonials-style-8 .testimonials-8 .page-width {
    padding: 50px 0;
  }
  .testimonials-style-8
    .testimonials-8
    .testimonial-slide-image
    .slick-controls {
    top: 0;
    right: 8px;
  }
  
  .testimonials-style-8 .testimonials-8 .testimonial-slide-image .testimonial-thumb .title.h1{padding-left: 10px;}
}


@media screen and (max-width: 767px) {
 
  .testimonials-style-8 .testimonials-8 .slick-next.slick-arrow,
  .testimonials-style-8 .testimonials-8 .slick-prev.slick-arrow{top: 0;transform: translateY(0%);}

}

@media screen and (max-width: 990px) {
  .testimonial-container {
    grid-template-columns: 1fr 1fr;
    padding: 0px;
  }
  .testimonial-container blockquote:before {
    left: 0;
  }
  .testimonial-container blockquote cite {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 750px) {
  .testimonial-container {
    grid-template-columns: 1fr;
  }

  .testimonial-image {
    justify-content: center;
  }
}

.testimonials-style-8 .testimonials-8 .testimonial-slide-image .testimonial-thumb{max-width: 420px;overflow: hidden;margin: auto;padding: 0 50px;}
.testimonials-style-8 .testimonials-8 .testimonials-content-slide{padding-top: 0px;cursor: grab;}